{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block styles %}
  {{block.super}}  
  <link href="{% static 'css/forms.css' %}" rel='stylesheet'>  
{% endblock styles %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-2">      
    </div>
    <div class="col-md-8">
      {% if form.errors %}
      <p class="alert alert-danger">Something is wrong with the infomation you entered. Try again</p>
      {% endif %}

      <div class="card bg-transparent">
        <div class="card-header"><h2><b><u>Add a Hood Post</u></b></h2></div>
        <div class="card-body">
          <form action="{% url 'add_hoodpost' %}" method="POST" enctype="mulitpart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}      

            <h5>Select County</h5>                        
            <input onclick="naiFunc()" type="radio" name="county" class="county" value="Nairobi">Nairobi
            <input onclick="naksFunc()" type="radio" name="county" class="county" value="Nakuru">Nakuru            

            <div id="nairobi" style="display:none;">
              <h4>Nairobi</h4>     
               <select name="Nairobi" class="form-control">                                  
                  <option id="Nairobi" value="Milimani">Milimani</option>
                  <option id="Nairobi" value="Ngong">Ngong</option>
                  <option id="Nairobi" value="Karen">Karen</option>
                  <option id="Nairobi" value="Ngara">Ngara</option>              
              </select>                         
              
            </div>

            <div id="nakuru" style="display:none;">
              <h4>Nakuru</h4>       
              <select name="Nakuru" class="form-control">                               
                <option value="Bondeni">Bondeni</option>
                <option value="Shabab">Shabab</option>
                <option value="Lanet">Lanet</option>
                <option value="Area 58">Area 58</option>             
              </select>
            </div>      
            <hr>            

            <div class='form-group'>
              <input type="submit" class="btn btn-outline-danger" value="Submit">
            </div>
          </form>
        </div> 
      </div>
    </div>
    <div class="col-md-2">      
    </div>
  </div>
</div>
<script>
  function naiFunc() {
      var x = document.getElementById("nairobi");
      var y = document.getElementById("nakuru");
      if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";
      } else {
        x.style.display = "none";
      }
    }
  function naksFunc() {
      var x = document.getElementById("nakuru");
      var y = document.getElementById("nairobi");
      if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";
      } else {
        x.style.display = "none";
      }
    }  
</script>
{% endblock content %}